<!DOCTYPE html>
<html>
<head>
  <title>Lookout Noun Project</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="logo-header"><img src="http://i.imgur.com/4ZjtpwK.png" alt="lookout-logo"></div>

<%= yield %>

</body>
</html>
